name: Migration Check

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const commentHeading = 'Migration file detected for PR number: ';

            function createComment(filenames) {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: `${filenames} ${commentHeading}
                        Please have a look on django [migrations](https://phab.instamojo.com/w/engineering/best_practices_for_django_migrations/) best practices. `
              })
            }

            function deleteComment(comment_id) {
              github.rest.issues.deleteComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id : `${comment_id}`
              })
            }
            function getPullRequestComments(){
              return github.rest.issues.listComments({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
              })
            }
            async function checkComments(all_comments){
              if (all_comments.data.length === 0){return false};
              const format_all_comments = await github.paginate(all_comments)
              for (const comment of format_all_comments){
                  let comment_body = comment.body
                  if (comment_body.includes(`${commentHeading}`)) {
                      return [true, String(comment.url)]
                  }else{
                      return [false, null]
                  }
              }
            }
            async function listAllPullRequestFiles(){
                return await github.rest.pulls.listFiles({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: context.issue.number,
                });
            }
            let filenames = [];
            const prFiles = await listAllPullRequestFiles();
            const allFilesData = await github.paginate(prFiles)

            for (const fileData of allFilesData) {
              let filename = String(fileData.filename)
              if (filename.includes("migrations")){
                filenames.push(filename)
              }
            }
            const all_comments = await getPullRequestComments();
            const migration_comment_available = await checkComments(all_comments);
            console.log("filenames", filenames.length)
            console.log("allFilesData", allFilesData)
            console.log("pr_Files", prFiles)
            console.log("all_comments", all_comments)
            console.log("migration_comment_available", migration_comment_available)
            console.log("main_condition", filenames.length > 0 && migration_comment_available[0] === false)
            if (filenames.length > 0 && migration_comment_available[0] === false){
                console.log("Data_yaha_tak_aaya")
                createComment(filenames);
            }else if (filenames.length > 0 && migration_comment_available[0] === true){
                //pass
            }else if(typeof migration_comment_available[1] === 'string'){
                let comment_id = parseInt(migration_comment_available.split("/").pop())
                deleteComment(comment_id)
            }
