name: Migration Check

on:
  pull_request:
    types: [opened, reopened, edited]
    branches:
      - 'master'
    paths:
      - '**/migrations/**'

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const pulls = await github.rest.pulls.listFiles({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
            });
            const issues = await github.paginate(pulls)
            console.log(issues)
            console.log(Object.entries(pulls))
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: pulls
            })
