name: Migration Check

on:
  pull_request:
    types: [opened, reopened, edited]
    branches:
      - 'master'

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const commentHeading = 'Migration file detected for PR number: '

            function commentCreator(filenames, pr_number) {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: `${filenames} ${commentHeading} ${pr_number}`
              })
            }
            
            function commentDeleter() {
              github.rest.issues.deleteComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
              })
            }
            function checkPullRequestComments(){
              return github.rest.issues.listComments({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
              })
            }
            const all_comments = await checkPullRequestComments();
            console.log("all_comments", all_comments);
            async function listAllPullRequestFiles(){
                return await github.rest.pulls.listFiles({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  pull_number: context.issue.number,
                });
            }
            let filenames = []
            const pulls = await listAllPullRequestFiles();
            
            const issues = await github.paginate(pulls)

            for (const issue of issues) {
              let filename = String(issue.filename)
              if (filename.includes("migrations")){
                filenames.push(filename)
              }
            }
            console.log("Issue_number_is", context.issue.number)
            commentCreator(filenames);
